rules_version = '2';
service cloud.firestore {
  function isUser() {
    let regex = '.*@pedagogiefde[.]org';
    return request.auth != null && request.auth.token.email.matches(regex);
  }
  function isConcernUser(id) {
    return isUser() && request.auth.uid == id
  }
  function isAdmin() {
    return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
  }
  function isConcernAdmin(id) {
    return isAdmin() && request.auth.uid == id
  }
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update, delete: if isConcernUser(userId) || isAdmin();
    }
    match /subjects {
      allow read: if isUser();
      allow create, update, delete: if isAdmin();
    }
    match /classLevels {
      allow read: if isUser();
      allow read, create, update, delete: if isAdmin();
    }
    match /publicUsers/{userId} {
      allow read: if isUser();
      allow read, create, update: if isConcernUser(userId) || isAdmin();
    }
    match /admins/{userId} {
      allow read, create: if isAdmin();
      allow update, delete: if isConcernAdmin(userId)
    }
  }
}
