rules_version = '2';
service cloud.firestore {
  function isAdmin() {
    return request.auth != null && get(/databases/$(database)/documents/user/$(request.auth.uid)).data.admin == true;
  }
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow read, create, update, delete: if isAdmin();
    }
    match /subjects {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /classLevels {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
